//- Template for navigation side-bar css
//- Created by: Jon
//- Date: 03/30/19
//- Last modified by: Jon
//- Date: 03/30/19
//- Created admin template for loading admin nav-bar

doctype html
html
	head
		style.
			.footer {
				position: fixed;
				left: 0;
				height:60px;
				bottom: 0;
				width: 100%;
				text-align: center;
				box-shadow: 0 50vh 0 50vh #343a40;
			}
			.nav{
				padding-top: 50px;
				margin-bottom: 100px;
				margin: 0;
				padding: 0;
				width: 250px;
				background-color: #f1f1f1;
				position: fixed;
				height: 100%;
				overflow: auto;
				box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
			}
			.nav a{
				display: block;
				color: white;
				padding: 16px;
				text-decoration: none;
			}
			.nav a.active{
				background-color: #4CAF50;
				color: white;
			}
			.nav a:hover:not(.active){
				background-color: #555;
				color: white;
			}
			.sidebar-sticky {
				padding-top:50px;
				margin: 0;
				padding: 0;
				position:fixed;
				/*height is 100% - the footer height*/
				height: 100%;
				box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
				overflow: auto;
			}
			main{
				margin-bottom:100px;
			}
			.nav-link{
				color:white;
			}
			hr{
				background-color:white;
				margin-bottom:0px !important;
				border-bottom:0px !important;
				padding-bottom:0px !important;
			}
			.nav-item{
				padding-right:10px;
				padding-left:10px;
				border-bottom:1px solid black;
			}
			.header{
				text-align:center;
				font-size:25px;
			}
			.fa-spoon{
				margin-left:5px;
				padding-right:10px;
				width:30px;
			}
			i{
				padding-right:15px;
				width:35px;
				color:white;
			}
			.symbol{
				position:absolute;
				bottom:60px;
				color:white;
			}
			div.content{
				margin-left: 200px;
				padding-left: 150px;
			}
			@media screen and (max-width: 992px){
				.nav{
					width: 100%;
					height: auto;
					position: relative;
				}
				.nav a {float: left;}
				div.content {
					margin-left: 0;
					padding-left: 16px;
				}
				.filler{
					display: collapse;
				}
			}
			.filler{
			}
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' type='text/css' href='/css/digital_pantry.css')
		link(rel='stylesheet' href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
		script(src='/bower_components/jquery/dist/jquery.js')
		//- script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js')
	body
		.nav
			.nav.bg-secondary.text-white
				ul.flex-column
				li.header
					div(style='display: table-row')
						img.mt-3.ml-3.mb-2.mr-3(src='/images/milk.jpg', alt='image', width='50', height='50', padding-right='30px')
						|Digital Pantry
				hr
				li.nav-item
					a.nav-link(href='/users/dashboard')
						i.fas.fa-tachometer-alt
						| Home
				li.nav-item
					a.nav-link(href='/ingredients/showall')
						i.fas.fa-pepper-hot
						| Your Ingredients
				li.nav-item
					a.nav-link(href='/ingredients/expired')
						i.fas.fa-calendar-times
						| Expired Ingredients
				li.nav-item
					a.nav-link(href='/ingredients/add')
						i.fas.fa-plus
						| Add Ingredients
				li.nav-item
					a.nav-link(href='/recipes/showall')
						i.fa.fa-hamburger
						| Your Recipes
				li.nav-item
					a.nav-link(href='/recipes/add')
						i.fas.fa-utensils
						| Add New Recipe
				li.nav-item
					a.nav-link(href='/recipes/showCommunityRecipes')
						i.fas.fa-hands-helping
						| Community Recipes
				li.nav-item
					a.nav-link(href='/users/adminPanel')
						i.fas.fa-user-cog
						| Admin Panel
				li.nav-item
					a.nav-link(href='/users/logout')
						i.fas.fa-sign-out-alt
						| Logout
				li.filler
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
				a.btn.symbol(href='/users/settings')
					i.fa.fa-cogs.fa-2x
		.containter
			main.ml-sm-auto.col-lg-10.px-4(role='main')
				block content
			footer.footer.bg-dark.text-light
				p.mb-1 © 2019 Digital Pantry
				ul.list-inline
					//- TODO link these to proper files
					li.list-inline-item
						a(href='#') Privacy
					li.list-inline-item
						a(href='#') Terms
					li.list-inline-item
						a(href='#') Support
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src="/js/main.js")
