doctype html
html
    head
        title Digital Pantry
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        //- Navigation section
        //- TODO when window is small navigation should display a dropdown
        //- Have to include some javascript files from bootstrap folder and i dont know which ones
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
                a.navbar-brand(href='/') Food Pantry
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarCollapse.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/users/login')
                                | Sign In
                        li.nnav-item.active
                            a.nav-link(href='/users/register')
                                | Register
        .container
            //- block content will get replaced with another .pug file
            block content
            br
            hr
            footer.my-5.pt-5.text-muted.text-center.text-small
                p.mb-1 © 2019 Digital Pantry
                ul.list-inline
                    //- TODO link these to proper files
                    li.list-inline-item
                        a(href='#') Privacy
                    li.list-inline-item
                        a(href='#') Terms
                    li.list-inline-item
                        a(href='#') Support
        //- TODO include javascript files here
        //- script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        //- script(src='/bower_components/bootstrap/js/dist/bootstrap/dropdown.js')