extends layout_template_privacy_terms_support.pug

block content
	!= messages('message', locals)
	if errors
		for error in errors
			div(class='alert alert-danger') #{error.msg}
	br
	br
	br
	br
	br
	div.mt-5.text-center(class='container-fluid', class='rounded', style='width: 90%')
		//- This div will show the user if they have been registered or display an error
		//- Below will print whatever you have sent from app.js
		div.dp-table.text-center(class='rounded', class='col-10')
			h6.text-white .
			h1.text-center.mb-3 #{title}
				div(class='row')
					br
					div.mx-auto(class='col-8')
						form(method='POST', action='/users/forgotpass', class= 'form')
							#form-group
								br
								input.form-control(name='email', type='text', class='form-group', id='email', placeholder='Email')
								br
								h6.dp-primary-text Clicking 'Reset Password' will send an email with instructions to reset your password.
							br
							input.col-md-5.btn.dp-btn-primary(type='submit', value='Reset Password', class='form-group', id='submit-signin')