extends layout_template

block content
    //- This div will show the user if they have been registered or display an error
    div
        if success
            div.alert-success(role='alert')
                h4.alert-heading Congratulations!
                p
                    | You are a new user!
        //- Show error based on the input validation
        else
            if errors
                div.alert-danger(role='alert')
                    ul
                        for error in errors
                            li #{error.msg}
    .col-md-8.offset-md-4
        //- This will print whatever you have sent from app.js
        h1.mb-3 #{title}
        //- TODO Create Register form
        form(method='POST', action='/users/register')
            .col-md-6.mb-3
                #form-group
                    label Email:
                    input.form-control(name='email', type='text')
                #form-group
                    label Password:
                    input.form-control(name='password', type='password')
                #form-group
                    label Confirm Password:
                    input.form-control(name='confirm_password', type='password')
                br
                input.btn.btn-primary(type='submit', value='Submit')
        a(href='/Login') Already have an account?