extends layout_template_for_register

block content
	!= messages('message', locals)
	if errors
		for error in errors
			div(class='alert alert-danger') #{error.msg}
	br
	br
	br
	br
	div.mt-5(class='container-fluid', class='rounded', style='width: 90%')
		div.dp-table(class='rounded', class='col-12')
			//- This will print whatever you have sent from app.js
			br
			h1.text-center.mb-3.dp-title-text #{title}
			hr
			div(class='row')
				div.mx-auto(class='col-8')
					form.form(method='POST', action='/users/register')
						#form-group
							label.dp-secondary-text Email:
							input.form-control.form-control.dp-title-text(name='email', type='text', id='email-register')
						br
						#form-group
							label.dp-secondary-text Password:
							input.form-control.dp-title-text(name='password', type='password', id='password-register')
						br
						#form-group
							label.dp-secondary-text Confirm Password:
							input.form-control.dp-title-text(name='confirm_password', type='password', id='password2-register')
							br
							input.btn.dp-btn-primary(type='submit', value='Register', id='submit-register')
							a(href='/users/Login') Already have an account?
						br