extends layout_template_for_signin

block content
	!= messages('message', locals)
	if errors
		for error in errors
			div(class='alert alert-danger') #{error.msg}
	br
	br
	br
	br
	br
	div.mt-5(class='container-fluid', class='rounded', style='width: 90%')
		//- Below will print whatever you have sent from app.js
		div.dp-container(class='rounded', class='col-12')
			h1(style='color: #570573').text-center.mb-3 #{title}
			hr
			div(class='row')
				div.mx-auto(class='col-8')
					form(method='POST', action='/users/login', class= 'form')
						#form-group
							label Email:
							input.form-control(name='username', type='text', class='form-group', id='username-signin')
						br
						#form-group
							label Password:
							input.form-control(name='password', type='password', class='form-group', id='password-signin')
							br
							input.btn.dp-btn-orange-white-text(type='submit', value='Sign In', class='form-group', id='submit-signin')
							a(href='/users/register') Don't have an account?
							a(href='/users/forgotpass')  Forgot Password?
	script.
		localStorage.clear()