extends layout_template

block content
        .col-md-8.offset-md-4
            //- Below will print whatever you have sent from app.js
            h1.mb-3 #{title}
            //- TODO create signin form
            form(method='POST', action='users/signin')
                .col-md-6.mb-3
                    #form-group
                            label Email:
                            input.form-control(name='email', type='text')
                    #form-group
                            label Password:
                            input.form-control(name='password', type='password')
                    br
                    input.btn.btn-primary(type='submit', value='Submit')
            a(href='/register') Don't have an account?