extends layout_template_for_signin

block content
	!= messages('message', locals)
	if errors
		for error in errors
			div(class='alert alert-danger') #{error.msg}
	br
	br
	br
	br
	br
	div.dp-split-left(class='container-fluid')
	
	
	div.dp-split-right(class='container-fluid')
		h1(style='color: #570573').text-center.mb-3 #{title}
		br
		hr
		br
		div(class='row')
			div.mx-auto(class='col-8')
				form(method='POST', action='/users/login', class= 'form')
					#form-group
						label.dp-secondary-text Email:
						input.form-control.dp-title-text(name='username', type='text', class='form-group', id='username-signin')
					br
					#form-group
						label.dp-secondary-text Password:
						input.form-control.dp-title-text(name='password', type='password', class='form-group', id='password-signin')
						br
						a.dp-primary-text.mr-2(href='/users/register') Don't Have an Account?
						a.dp-primary-text(href='/users/forgotpass')  Forgot Password?
						div(class='text-center')
							input.btn.dp-btn-orange-white-text(type='submit', value='Sign In', class='form-group text-center', id='submit-signin')
	script.
		localStorage.clear()