extends layout_template_privacy_terms_support

block content

    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us:</p>
    <ul>
            <li>By email: JStoddart@wayne.edu</li>
            
            </ul>