//-Support page.
//-Created by: Darren
//-Date: 04/10/19
//-Last modified by: Jon
//-Date modified: 04/16/19
//-Changed HTML to pug
//-Updated layout and CSS.

extends conditional_layout

block content
	br
	br
	br
	br
	div.ml-3.dp-title-text(style='width: 80%')
		h1 Contact Us
		br
		p If you have any questions about this Privacy Policy, please contact us:
		ul
			li By email: JStoddart@wayne.edu