/*Navbar background color*/
.navbar-green {
  background-color: #058d3f !important;
}

/*Container background color*/
.container-green {
  background-color: #66c08d !important;
}

/*Table colors*/
.table-green {
  background-color: #134309 !important;
  /* background-color: #195a0c; */
  color: white !important;
}

.footer-green {
  /* background-image: linear-gradient(rgb(25, 90, 12), rgba(236, 252, 233)); */
  background-color: #195a0c !important;
}

.text-green {
  color: #134309 !important;
}

.body-green {
  background-color: #b7e1c9 !important;
}

.row-dark {
  background-color: #212529 !important;
  color: white !important;
}
.dp-table {
  background-color: #faf8eb !important;
  color: #570573 !important;
  border: 1px double #570573 !important;
}
.dp-background {
  background-color: #faf8eb !important;
}
.dp-container {
  background-color: #570573 !important;
}
.dp-title-text {
  color: #570573 !important;
}
.dp-primary-text {
  color: #91c02e !important;
}
.dp-secondary-text {
  color: #eeaf2c !important;
}
.dp-btn-primary {
  background-color: #91c02e !important;
  border-color: #91c02e !important;
  color: white !important;
}
.dp-btn-secondary {
  background-color: #eeaf2c !important;
  border-color: #eeaf2c !important;
  color: white !important;
}
.dp-btn-purple {
  background-color: #570573 !important;
  color: white !important;
}
.dp-btn-yellow {
  background-color: #f2d43b !important;
  border-color: #f2d43b !important;
  color: white !important;
}
.dp-btn-danger {
  background-color: #d93711 !important;
  border-color: #d93711 !important;
}
.dp-change-view {
  background-color: #570573 !important;
  color: white !important;
  text-align: center !important;
}
.dp-container {
  background-color: #faf8eb !important;
  color: #eeaf2c !important;
}
.dp-btn-orange-white-text {
  background-color: #eeaf2c !important;
  color: white !important;
}
.dp-btn-edit {
  background-color: #570573 !important;
  color: white !important;
  border-radius: 5px !important;
}
.dp-nav-text {
  color: #eeaf2c !important;
}
.dp-btn-group {
  background-color: #eeaf2c !important;
  border-color: white !important;
}
.dp-secondary-text {
  color: #eeaf2c !important;
}
.dp-secondary-header {
  background-color: #eeaf2c !important;
  color: white !important;
}
.dp-highlight-green {
  background-color: #ebf5d6 !important;
  color: white !important;
}
.dp-form-fields {
  background-color: #faf8eb !important;
  color: #570573 !important;
}
::placeholder {
  color: #570573 !important;
}
.dp-recipe-accordion {
  background-color: #c4e184 !important;
  color: #570573 !important;
}
/* These classes are for purple Edit button
Appearance is similar to Remove buttons
Needs more work since border doesn't render
.dp-btn-edit {
  color: #570573;
  border: 2px solid #570573 !important;
  background-color: #faf8eb;
  border-radius: 5px !important;
}

.dp-btn-edit:hover {
  color: #faf8eb !important;
  background-color: #570573;
  border-radius: 5px;
  border-color: 2px #570573 !important;
}

.dp-btn-edit:focus,
.btn-edit.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
} */
