/*Navbar background color*/
.navbar-green {
  background-color: #058d3f !important;
}

/*Container background color*/
.container-green {
  background-color: #66c08d !important;
}

/*Table colors*/
.table-green {
  background-color: #134309 !important;
  /* background-color: #195a0c; */
  color: white !important;
}

.footer-green {
  /* background-image: linear-gradient(rgb(25, 90, 12), rgba(236, 252, 233)); */
  background-color: #195a0c !important;
}

.text-green {
  color: #134309 !important;
}

.body-green {
  background-color: #b7e1c9 !important;
}

.row-dark {
  background-color: #212529 !important;
  color: white !important;
}